<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Face Compare</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Face Compare</li>
        </ol>
    </nav>
</div>
<div class="card">
    <h6 class="card-header pd-t-20 pd-b-0 bd-b-0">Images Upload</h6>
    <form name="formFaceCompare" class="card-body pd-20 row" ng-submit="upload()">
        <div class="col-md-6">
            <strong>Image Source:</strong>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="imgSource" name="imgSource"
                    accept="image/x-png,image/jpeg" ng-model="imageSource" required tr-files tr-files required>
                <label class="custom-file-label" for="imgSource">Choose image</label>
            </div>
            <div class="text-center">
                <img class="pd-y-10 img-fluid" ng-src="{{_imageSource}}">
            </div>
        </div>
        <div class="col-md-6">
            <strong>Image Target:</strong>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="imgTarget" name="imgTarget"
                    accept="image/x-png,image/jpeg" ng-model="imageTarget" required tr-files tr-files required>
                <label class="custom-file-label" for="imgTarget">Choose image</label>
            </div>
            <div class="text-center">
                <img class="pd-y-10 img-fluid" ng-src="{{_imageTarget}}">
            </div>
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
    <div class="card-footer" ng-if="result">
        <h6>Result</h6>
        <ul>
            <li><strong>Comparison: </strong>{{result.comparation}}</li>
            <li><strong>Percentage: </strong>{{result.percentage | number : 2}}</li>
        </ul>
    </div>
</div>
<div>

</div>
<div class="row row-xs mg-t-10">
    <div class="card col-xl-9">
        <h6 class="card-header pd-t-20 pd-b-0 bd-b-0">List of Data</h6>
        <div class="card-body pd-20">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Image Source</th>
                        <th>Image Target</th>
                        <th>Comparison</th>
                        <th>Percentage</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="_data in data" ng-click="showImg(_data)">
                            <td><img ng-src="{{loadImg(_data.imageSource)}}" style="height: 100px"></td>
                            <td><img ng-src="{{loadImg(_data.imageTarget)}}" style="height: 100px"></td>
                            <td>{{_data.comparation}}</td>
                            <td>{{_data.percentage | number : 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalViewImage" tabindex="-1" role="dialog" aria-labelledby="modalViewImage"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Show Image</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" ng-if="imgView">
                <div class="row">
                    <div class="col-md-6 tx-center">
                        <h6>Image Source</h6>
                        <img class="img-fluid" ng-src="{{loadImg(imgView.imageSource)}}">
                    </div>
                    <div class="col-md-6 tx-center">
                        <h6>Image Target</h6>
                        <img class="img-fluid" ng-src="{{loadImg(imgView.imageTarget)}}">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-dashboard mg-b-0 tr-fixed-table">
                        <tbody>
                            <tr>
                                <th>Comparison</th>
                                <td class="text-right ng-binding">{{imgView.comparation}}</td>
                            </tr>
                            <tr>
                                <th>Percentage</th>
                                <td class="text-right ng-binding">{{imgView.percentage}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>