<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Face Compare</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Face Compare</li>
        </ol>
    </nav>
</div>
<div class="card">
    <h6 class="card-header pd-t-20 pd-b-0 bd-b-0">Images Upload</h6>
    <form name="formFaceCompare" class="card-body pd-20 row" ng-submit="upload()">
        <div class="col-md-6">
            <strong>Image Source:</strong>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="imgSource" name="imgSource"
                    accept="image/x-png,image/jpeg" ng-model="imageSource" required tr-files tr-files required>
                <label class="custom-file-label" for="imgSource">Choose image</label>
            </div>
            <div class="text-center">
                <img class="pd-y-10 img-fluid" ng-src="{{_imageSource}}">
            </div>
        </div>
        <div class="col-md-6">
            <strong>Image Target:</strong>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="imgTarget" name="imgTarget"
                    accept="image/x-png,image/jpeg" ng-model="imageTarget" required tr-files tr-files required>
                <label class="custom-file-label" for="imgTarget">Choose image</label>
            </div>
            <div class="text-center">
                <img class="pd-y-10 img-fluid" ng-src="{{_imageTarget}}">
            </div>
        </div>
        <div class="col-12 text-right">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
    <div class="card-footer" ng-if="result">
        <h6>Result</h6>
        <ul>
            <li><strong>Comparison: </strong>{{result.comparation}}</li>
            <li><strong>Percentage: </strong>{{result.percentage | number : 2}}</li>
        </ul>
    </div>
</div>
<div>
    <table border="1">
        <thead>
            <th>Image Source</th>
            <th>Image Target</th>
            <th>Comparation</th>
            <th>Percentage</th>
        </thead>
        <tbody>
            <tr ng-repeat="_data in data">
                <td><img ng-src="{{loadImg(_data.imageSource)}}"></td>
                <td><img ng-src="{{loadImg(_data.imageTarget)}}"></td>
                <td>{{_data.comparation}}</td>
                <td>{{_data.percentage}}</td>
            </tr>
        </tbody>
    </table>
</div>